@use '/src/assets/style/variables';

#collapsibles-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 108px;
}

@media screen and (max-width: 768px) {
  #collapsibles-container {
    gap: 20px;
    padding: 0;
  }
}
