@use '/src/assets/style/variables' as *;

#collapsibles-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 108px;
}

@media screen and (max-width: $breakpoint_media_small) {
  #collapsibles-container {
    gap: 20px;
    padding: 0;
  }
}
