:root {
  --bg-main: #FFFFFF;
  --bg-secondary: #000000;
  --bg-tertiary: #FF6060;
  --bg-quaternary: #F6F6F6;
  --bg-fifth: #F6F6F673;

  --font-main: #000000;
  --font-secondary: #FFFFFF;
  --font-tertiary: #FF6060;
  --font-quaternary: #E3E3E3;
}
