@use '/src/assets/style/variables';

#housing-header {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 2fr 1fr;

  #housing-title {
    font-weight: 500;
    font-size: 2.25rem;

    color: var(--font-tertiary);
  }

  #housing-location {
    font-size: 1.125rem;
  }

  #housing-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;

    > p {
      background-color: var(--font-tertiary);
      color: var(--font-secondary);
      padding: 3px 40px;
      border-radius: 10px;
    }
  }

  > section:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  #host-infos {
    display: flex;
    align-items: center;
    margin-bottom: 21px;

    > p {
      font-size: 1.125rem;
      text-align: right;
      margin-right: 10px;
      color: var(--font-tertiary);
    }

    > img {
      border-radius: 50px;
    }
  }
}

#housing-infos-collapsible {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  gap: 74px;
}

@media screen and (max-width: 768px) {
  #housing-header {
    grid: 1fr 1fr / auto;
    #housing-title {
      font-size: 1.5rem;
    }

    > section:nth-child(2) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      #host-infos {
        order: 2;
        margin: 0;

        > p {
          font-size: 0.75rem;
        }
      }
    }
  }

  #housing-infos-collapsible {
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 425px) {
  #housing-header {
    #housing-title {
      font-size: 1.125rem;
      margin-bottom: 10px;
    }

    #housing-location {
      font-size: 0.875rem;
    }

    #housing-tags > p {
      padding: 2px 26px;
      border-radius: 5px;
    }

    #host-infos > img {
      width: 32px;
    }
  }
}
