@use '/src/assets/style/variables' as *;

.icon_default {
  color: var(--font-tertiary);
}

.icon_footer {
  color: var(--font-secondary);
}

.rotation_animated {
  transition: rotate ease-in-out 0.3s;
}

@media screen and (max-width: $breakpoint_media_small) {
  .icon_default {
    width: 146px;
  }
}
