@use '/src/assets/style/variables' as *;

.collapsible {
  position: relative;
  background-color: var(--bg-fifth);
  border-radius: 5px;
  width: 100%;
  overflow: hidden;
  max-height: 52px;
  transition: max-height 0.3s;

  > button {
    z-index: 20;
    left: 0;
    top: 0;
    position: absolute;
    display: flex;
    align-items: center;
    background: var(--bg-tertiary);
    color: var(--font-secondary);
    padding: 10px 15px;
    border-radius: 5px;
    box-sizing: border-box;

    cursor: pointer;

    font-weight: 700;
    font-size: 1.5rem;

    width: 100%;
    text-align: start;

    > svg {
      margin-left: auto;
    }
  }

  > section {
    margin-top: 52px;
    padding: 20px;
    transform: translateY(-100%);
    transition: transform 0.3s;
  }

  &.open {
    max-height: 300px;
    > section {
      transform: translateY(0);
    }
  }
}

@media screen and (max-width: $breakpoint_media_xs) {
  .collapsible.open {
    max-height: 500px;
  }
}
