.page_title_card {
  position: relative;
  padding: 78px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 43px;

  color: var(--font-secondary);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);

  > h1 {
    z-index: 2;
    text-shadow: 0 0 2px var(--font-main);
    font-size: 3rem;
  }

  &::before {
    background-color: rgba(0, 0, 0, 0.50);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.home {
  background: url('/pictures/image-source-bg.png') center;
}

.about {
  box-sizing: border-box;
  min-height: 223px;
  background: url('/pictures/image-source-2-bg.png') center;
}

@media screen and (max-width: 1024px) {
  .page_title_card > h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .page_title_card {
    padding: 31px 16px;
    border-radius: 10px;
  }
}


@media screen and (max-width: 768px) {
  .home, .about {
    margin-bottom: 20px;
  }

  .about {
    min-height: 111px;
  }
}
