@use '/src/assets/style/variables';

#housing-title {
  position: relative;
  background: url('/public/pictures/image-source-bg.png') center;
  padding: 78px 0;
  display: flex;
  justify-content: center;
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 43px;

  color: var(--font-secondary);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);

  > h1 {
    z-index: 2;
    text-shadow: 0 0 2px var(--font-main);
    font-size: 3rem;
  }

  &::before {
    background-color: rgba(0, 0, 0, 0.50);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

#housing-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  gap: 50px 60px;
  background-color: var(--bg-quaternary);
  padding: 56px 50px;
  border-radius: 25px;
}
