@use '/src/assets/style/variables';

#housing-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  gap: 50px 60px;
  background-color: var(--bg-quaternary);
  padding: 56px 50px;
  border-radius: 25px;
}
